:root {
  --accent-color: #2196f3;
  --maine-color: #212121;
  --add-color: #757575;
  --bg-color: #2f303a;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
}
.header .container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EEE;
}
.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
  display: flex;
  margin-right: 93px;
}
.accent-logo {
  color: var(--accent-color);
}
.navigation-list {
  list-style-type: none;
  display: flex;
  
}
.nav-link {
  color: var(--maine-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  margin-right: 50px;
}
.nav-link:hover {
  color: var(--accent-color);
}
.contact-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 230px;
}
.contact-link {
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
  margin-right: 50px;
}
.contact-link:hover {
  color: var(--accent-color);
}
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  justify-content: center;
  width: 696px;
  margin: 0 auto;
}
.hero-wrapper {
  text-align: center;
  width: 100%;
}
.hero-button {
  color: #fff;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background: var(--accent-color);
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
}
.perk {
  padding-top: 94px;
  padding-bottom: 220px;
}
.perk-list {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  column-gap: 30px;
}
.antenna::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/antenna.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 270px 120px;
  margin-bottom: 30px;
}
.clock::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/clock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 270px 120px;
  margin-bottom: 30px;
}
.comp::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/comp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 270px 120px;
  margin-bottom: 30px;
}
.cosmo::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/cosmo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position: 70px 270px 120px;
  margin-bottom: 30px;
}
.perk-item {
  flex-basis: 270px;
}
.perk-title {
  color: var(--maine-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.perk-info {
  color: var(--add-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 48px;
  flex-shrink: 0;
}
.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
  list-style-type: none;
}
.work-img {
  margin-right: 30px;
}
.work-title {
  color: var(--maine-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.team-list {
  display: flex;
  list-style-type: none;
}

.team-title {
  color: var(--maine-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-worker {
  width: 270px;
  height: 260px;
  margin-right: 30px;
}
.box {
  background-color: #ffff;
  margin-right: 30px;
}
.team-title-work {
  color: var(--maine-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-top: 30px;
}
.team-info {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
  margin-top: 10px;
  padding-bottom: 30px;
}
.footer {
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-info {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.address-link[href^="tel:"],
.address-link[href^="mailto:"] {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.logo-footer {
  color: #FFF;
font-family: Raleway;
font-size: 26px;
letter-spacing: 0.78px;
}
.accent-logo-footer {
  color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}
.address-link {
  margin-bottom: 9px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-list:first-child {
  margin-top: 20px;
}
.navgation-list {
  list-style: none;
}
.filters {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filters-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item + .filters-item {
  margin-left: 8px;
}
.filters-btn {
  font-weight: 500;
  letter-spacing: 0.48px;
  padding: 6px 23px;
  border-radius: 4px;
  border: none;
  background-color: #f5f4fa;
  color: #212121;
  line-height: 1.62;
}
.filters-btn:hover {
  background-color: var(--accent-color);
  color: #fff;
  border: 0px;
}
.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.projects-item {
  border: 1px solid #EEE;
  width: 370px;
}
.projects-img {
  margin-bottom: 20px;
}
.projects-title {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 1.08px;
  margin-left: 24px;
  margin-bottom: 4px;
}
.projects-info {
  color: var(--add-color);
  line-height: 1.87;
  letter-spacing: 0.48px;
  padding-bottom: 20px;
  margin-left: 24px;
}
