:root {
  --accent-color: #2196f3;
  --maine-color: #212121;
  --add-color: #757575;
  --bg-color: #2f303a;
}
body {
  font-family: "Roboto";
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.logo-studio {
  color: #000;
}
.navigation-list {
  list-style-type: none;
}
.nav-link {
  color: var(--maine-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--accent-color);
}
.contact-list {
  list-style-type: none;
}
.contact-link {
  color: var(--add-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}
.contact-link:hover {
  color: var(--accent-color);
}
.hero {
  background: #2f303a;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero-button {
  color: #fff;
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background: var(--accent-color);
  margin: 0%;
}
.perk-list {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}
.perk-title {
  color: var(--maine-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.perk-info {
  color: var(--add-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
  height: 48px;
  flex-shrink: 0;
}
.work-list {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}
.work-title {
  color: var(--maine-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.work-item {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}
.team-list {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
}

.team-title {
  color: var(--maine-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
.team-worker {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}
.team-title-work {
  color: var(--maine-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team-info {
  color: var(--add-color);
  text-align: center;
  letter-spacing: 0.48px;
}
.footer {
  background: var(--bg-color);
  width: 1600px;
  height: 252px;
  flex-shrink: 0;
}
.footer-info {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-span {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  text-decoration: none;
  font-style: normal;
}
.address-link:first-child {
  color: white;
}
.navgation-list {
  list-style: none;
}
.filters-list {
  list-style-type: none;
}
.filters-btn {
  font-weight: 500;
  letter-spacing: 0.48px;
  width: 125px;
  height: 38px;
}
.filters-btn:hover {
  background-color: var(--accent-color);
  color: var(--maine-color);
  border: 0px;
}
.projects-list {
  list-style: none;
}
.projects-img {
  height: 294px;
  flex-shrink: 0;
}
.projects-title {
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 1.08px;
}
.projects-info {
  color: var(--add-color);
  line-height: 1.87;
  letter-spacing: 0.48px;
}
